* {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

body {
    background-color: #191919;
}

.main-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section .container {
    width: 85%;
}

.header1, .header2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calendar {
    display: flex;
    align-items: stretch;
    border: 2px solid red;
}

.calendar .div-date {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.week-day {
    width: 100%;
    text-align: center;
}

.calendar .div-date .div-content {
    flex: 1;
    padding: 5px 9px;
    height: 100%;
    border: 2px solid #2F2F2F;
    display: flex;
    flex-direction: column;
}

.calendar .div-date .div-content:hover {
    background-color: black;
    transition: 2s;
}

.div-content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0px 7px;
}

.div-content-header button {
    background-color: #252525;
    color: #8B8883;
    border: 3px solid #383836;
    border-radius: 10px;
    font-size: 22px;
    padding: 0px 5px;
    margin-left: -5px;
}

.div-content-header .fake-button {
    background-color: transparent;
    color: transparent;
    border: 3px solid transparent;
    border-radius: 10px;
    font-size: 22px;
    padding: 0px 5px;
    margin-left: -5px;
}

.div-task {
    background-color: #2F2F2F;
    border-radius: 10px;
    padding: 7px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    margin-bottom: 8px;
}

.div-task div {
    padding: 0px;
    display: flex;
    font-weight: bolder;
}

.div-task span {
    font-size: 13px;
    text-align: start;
    display: flex;
}

.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #202020;
    width: 80%;
    height: 70%;
    border: 100px;
    border: 2px solid #2F2F2F;
    border-radius: 8px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(17, 17, 17, 0.8);
}

.Modal section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Modal section .container {
    width: 75%;
}

.form-add-task {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0px 0px 0px;
}

.form-add-task input {
    background-color: #202020;
}

.input-title {
    font-size: 42px;
    border: none;
    margin-bottom: 10px;
}

.form-add-task span {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.form-add-task span div {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}